{
  "extends": "react-app",
  rules: {
    "max-len": [2, 80],
    "comma-dangle": [2, "always-multiline"],
    "quotes": [2, "single"],
    "sort-keys": 2,
    "react/jsx-sort-props": 2
  },
  env: {
    browser: true
  },
  "globals": {
    "describe": true,
    "it": true,
    "expect": true,
    "jest": true
  }
}
