{
  "extends": "react-app",
  rules: {
    "max-len": [2, 80],
    "comma-dangle": ["error", "always-multiline"],
    "quotes": ["error", "single"]
  },
  env: {
    browser: true
  },
  "globals": {
    "describe": true,
    "it": true,
    "expect": true,
    "jest": true
  }
}
