div.home
{
    display: flex;

    width: 100%;

    justify-content: center;
}

div.home > div.pane
{
    width: 100%;
}

@media (min-width: 767px)
{
    div.home > div.pane
    {
        width: 100%;
    }
}

@media (min-width: 768px)
{
    div.home > div.pane
    {
        width: 300px;
    }

    div.home > div.pane.center
    {
        margin: 0 10px;
    }
}
