div.result-editor
{
    width: 300px;
    max-width: 300px;
}

div.result-editor div.body > div.row
{
    padding: 10px;
}

div.result-editor div.body > div.row.center
{
    display: flex;

    justify-content: center;
    align-items: center;
}

div.result-editor div.body > div.row.space-between
{
    display: flex;

    justify-content: space-between;
    align-items: center;
}

div.result-editor div.body > div.row > div.input-group
{
    display: flex;
    flex-direction: column;

    width: 40%;
}

div.result-editor div.body > div.row > div.input-group.has-error
{
    font-weight: bold;

    color: red;
}

div.result-editor div.body > div.row > div.input-group > input[type='number']
{
    width: 100%;
    padding: 5px 5px 5px 10px;

    letter-spacing: 3px;

    border: 1px solid #d9d9d9;
    border-top: 1.5px solid #c0c0c0;
}
