div.summary-component
{
    display: flex;
    flex-direction: column;

    width: 100%;

    align-items: center;
}

div.summary-component #for-clipboard
{
    display: flex;
    flex-direction: column;

    width: 100%;

    align-items: center;
}

div.summary-component li.bet.paid
{
    text-decoration: line-through;
}

div.summary-component li.bet.win
{
    font-weight: bold;

    color: #b71c1c;
}
