div.bet-editor
{
    position: relative;

    overflow: hidden;

    width: 300px;
    max-width: 300px;

    border: 1px solid #b8bfc3;
    border-radius: 5px;
}

div.bet-editor > div.body
{
    padding: 10px;

    background-color: white;
}

div.bet-editor > div.body > div.row
{
    display: flex;

    align-items: flex-end;
}

div.bet-editor > div.body > div.row > div.input-group
{
    display: flex;
    flex-direction: column;

    margin: 0 10px 10px 0;

    flex: 1;
}

div.bet-editor > div.body > div.row > div.input-group.hidden
{
    visibility: hidden;
}

div.bet-editor > div.body > div.row > div.input-group > input[type='number']
{
    width: 100%;
    padding: 5px 5px 5px 10px;

    border: 1px solid #d9d9d9;
    border-top: 1.5px solid #c0c0c0;
}

div.bet-editor > div.body > div.row > div.input-group > button.random
{
    font-weight: bold;

    height: 32px;
    padding: 5px 10px;

    color: rgba(0,0,0,.6);
    border: none;
    border-radius: 5px;
    background: #e0e1e2 none;
}

div.bet-editor > div.action
{
    border-top: 1px solid #b8bfc3;
    background-color: #f6f7f9;
}

div.bet-editor > div.action > button
{
    font-weight: bold;

    width: 50%;
    padding: 10px;

    border: none;
    background-color: transparent;
}

div.bet-editor > div.action > button.reset
{
    color: rgb(148, 146, 146);
    border-right: 1px solid #b8bfc3;
}

div.bet-editor > div.action > button.save
{
    color: #286090;
}
