div.result-display
{
    position: relative;

    overflow: hidden;

    box-sizing: border-box;
    width: 300px;
    max-width: 300px;

    border: 1px solid #b8bfc3;
    border-radius: 5px;
}

div.result-display > div.title
{
    font-size: 20px;
    font-weight: bold;

    padding: 10px;

    text-align: center;

    border-bottom: 1px solid #b8bfc3;
    background-color: white;
}

div.result-display > div.message
{
    font-weight: bold;

    display: flex;
    flex-direction: column;

    padding: 10px;

    border-bottom: 1px solid #b8bfc3;

    align-items: center;
}

div.result-display > div.message.win
{
    color: green;
    border: 3px solid green;
}

div.result-display > div.message.lose
{
    color: red;
    border: 3px solid red;
}

div.result-display > div.body
{
    font-size: 20px;
    font-weight: bold;

    padding: 10px;

    text-align: center;

    background-color: white;
}

div.result-display > div.body > div.row
{
    display: flex;

    justify-content: space-around;
}

div.result-display > div.body > div.row > div.result-group
{
    width: 100%;
}

div.result-display > div.body > div.row > div.result-group > div.three
{
    display: flex;

    justify-content: space-around;
}
