div.result-display div.message
{
    font-weight: bold;

    display: flex;
    flex-direction: column;

    width: 100%;
    margin: 0 0 10px 0;
    padding: 10px;

    border-bottom: 1px solid #b8bfc3;

    align-items: center;
}

div.result-display div.message.win
{
    color: green;
    border: 3px solid green;
}

div.result-display div.message.lose
{
    color: red;
    border: 3px solid red;
}

div.result-display div.body > div.row
{
    display: flex;

    width: 100%;

    justify-content: space-around;
}

div.result-display div.body > div.row > div.result-group
{
    width: 100%;

    text-align: center;
}

div.result-display div.body > div.row > div.result-group > div.three
{
    display: flex;

    justify-content: space-around;
}
